<div class="jumbotron">
    <h1>Manual</h1>
    <p class="lead">Datos Orbitum</p>
    <p><a href="http://apiorbitum.azurewebsites.net/Help" class="btn btn-primary btn-lg"> Ingresa al Api &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>INTEGRANTES</h2>
        <p>Bach. EDERSON MITCHELL SANCHEZ LEON  <a href="#">esanchezl@@hotmail.com</a></p>
        <p>Bach. ADRIAN SEM SANCHEZ HORNA  <a  href="#">asanchezh@@upao.edu.pe</a></p>
        <p>Asesor: Ing.HEBER GERSON ABANTO CABRERA  <a href="#">hgabanto@hotmail.com</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Api - Datasets</h2>
        <p>Nos permitirá utilizar los datos del Data Mart para predicciones y analisis de datos con R como también reportes con análisis predictivos </p>
    </div>
    <div class="col-md-4">
        <h2>Web Api - Json</h2>
        <p>Nos permitirá utilizar estos datos en cualquier tipo de plataforma tanto Movil (Xamarin), Web (Php, ASP.net MVC, Python con Django, Java Web), Multiplataformas UWP(Universal Windows Platform), Desktop(Windows form, Java Desktop), etc</p>
    </div>

</div>
